
body{
    min-width: 400px;
    background-image: linear-gradient(to right,  #eef2f3, #a7b2bb );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image1{
   
    max-width: 8rem;
    border-radius: 50px;
    padding: 10px;
}
 
.image2{
    width: 500PX;
    height: 300px;
    border-radius: 35px;
    font-size: 100px;
    
}

.imagens{
    display: flex;
    justify-content: center;
}
 
.lista{
    font-size: large;;
}

h1{
color: beige;
text-align: center;
}

h2{
margin-left: 10px;;
text-align: center;
color: #21690f;
text-align: center;

}

h3{
color: beige;
text-align: center;
}

h4{
    font-size: 20px;
}

p{
text-align: center;
}

main{
    background: #f7810b;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
header{
    background-color: #24880b;
    border-width: 10px; 
    border-radius: 10px;
}

.link{
    border-width: 8px; 
    font-size: 12px;
    font-variant-position: center;
    height: 60px; 
    text-align: center;
}
 .color1{
    color: #204f0a;
    font-size: 30px;
 }

 .color2{
  color: #0443ca;
  font-size: 28px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .tm{
    font-size: 100px;
 }

 @media (min-width: 1000px) {
    .image1 {
        max-width: 25rem;
    }
 }

