
body{
    min-width: 400px;
    background-image: linear-gradient(45deg, #8a8bc4 0%, #d3d5fc88 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image1{
   
    max-width: 8rem;
    border-radius: 50px;
    padding: 5px;
    border-style:ridge;
}
 
.image2{
    width: 500PX;
    height: 300px;
    border-radius: 35px;
    font-size: 100px;
    
}

.imagens{
    display: flex;
    justify-content: center;

}
 
.lista{
    font-size: large;;
}

h1{
color:#884413;
text-align: center;
font-size: 35px;
}

h2{
color: #241307 ;
margin-left: 10px;;
text-align: center;
text-align: center;
font-size: 30px ;
}

h3{
color: #884413;
text-align: center;
font-size: large;
}

h4{
    font-size: 20px;
}

p{
text-align: center;
}

.subtitulo{
    font-size: 30px;
    color:#241307;
    margin-left: 150px;
    margin-top: 30px;
}

header{
    background-color: hsla(236, 80%, 70%, 0.185);
    border-width: 10px; 
    border-radius: 10px;
}

.link{
    border-width: 8px; 
    font-size: 12px;
    font-variant-position: center;
    height: 60px; 
    text-align: center;
}


 .color2{
  color: #0443ca;
  font-size: 28px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .tm{
    font-size: 100px;
 }

 @media (min-width: 1000px) {
    .image1 {
        max-width: 25rem;
    }
 }

