
body{
    min-width: 400px;
    background-image: linear-gradient(45deg, #8a8bc4 0%, #d3d5fc88 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image1{
   
    max-width: 8rem;
    border-radius: 35px;
    border: 1px solid #333; box-shadow: 10 10 5px 3px black;
    border-width: 2px;
    
}
 
.image2{
    width: 400PX;
    height: 300px;
    border-radius: 35px;
    font-size: 100px;
    border: 1px solid #333; box-shadow: 0 0 4px 2px rgb(39, 38, 38);
}

.image3{
    width: 400PX;
    height: 300px;
    border-radius: 35px;
    font-size: 100px;
    border: 1px solid #474747; box-shadow: 0 0 4px 2px rgb(219, 219, 219);
}
 .image4{
    width: 400PX;
    height: 300px;
    border-radius: 15px;
    font-size: 100px;
    border: 1px solid #474747; box-shadow: 0 0 4px 2px rgb(219, 219, 219);
}
 
.equacao{
    width: 290px;
    margin-left: 95px;
    padding: 15px;
}



.imagens{
    display: flex;
    justify-content: center;

}
 
.lista{
    font-size: large;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.lista2{
    padding: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.lista3{
    font-size: 25px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

h1{
color:#0441e7;
text-align: center;
font-size: 35px;
font-family: Georgia, Times, 'Times New Roman', serif;
}

h2{
color: #241307 ;
margin-left: 10px;;
text-align: center;
text-align: center;
font-size: 30px ;
font-family: 'Times New Roman', Times, serif;
}

h3{
color: #0441e7;
text-align: center;
font-size:larger;
font-family: Georgia, Times, 'Times New Roman', serif;
}

h4{
    font-size: 20px;
}

p{
text-align: center;
font-family: Georgia, 'Times New Roman';
font-size: 20px;
}

.p2{

font-family: Georgia, 'Times New Roman';
font-size: 19px;
}

.subtitulo{
    font-size: 30px;
    color:#241307;
    margin-left: 5%;
    margin-top: 5%;
}

.subtitulo2{
    font-size: 40px;
    color:#241307;
    margin-left: 5%;
    margin-top: 5%;
}

header{
    background-color: hsla(236, 80%, 70%, 0.185);
    border-width: 10px; 
    border-radius: 10px;
}

.link{
    border-width: 8px; 
    font-size: 20px;
    font-variant-position: center;
    height: 60px; 
    text-align: center;
}


 .color2{
  color: #0443ca;
  font-size: 28px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .tm{
    font-size: 100px;
 }

 @media (min-width: 1000px) {
    .image1 {
        max-width: 25rem;
    }
 }

